<div *ngIf="showLoading"><p>Loading...</p></div>
<div *ngIf="!showLoading">  
  <h2>TASKS</h2>
  <div class="row  flex-row-reverse ml-1 mr-1">
    <a routerLink="/task/new">
      <button type="button" class="btn btn-circle btn-success btn-lg">+ Add Task</button>
    </a>
    <hr>
  </div>
  
  <div class="row">
    <div *ngFor="let task of tasks;" class="col-sm-12 col-lg-4 col-md-6">
      <div class="row border m-1">
        <div class=" p-2 col-3 ">
          <div class="row ml-0">
              <a routerLink="/tasks/{{task._id}}">
                <button type="button" class="btn btn-secondary">
                  <span class="glyphicon glyphicon-tasks lg" aria-hidden="true"></span>
                </button>
              </a>
          </div>
        </div>
        <div class="col-9">          
          <div class="row">
            <div class="col-12 wrap-word">{{task.title}}</div>
            <div class="col-12 wrap-word">{{task.description}}</div>
            <div class="col-12 wrap-word">Subtasks: {{task.subtask.length}}</div>
          </div>
          <div class="row">
            <div class="col-12">
              <span class="glyphicon glyphicon-edit"
                title="Edit"
                aria-hidden="true" (click)="editTask(task._id)"></span>&nbsp;
              <span class="glyphicon glyphicon-trash"
                title="Delete"
                aria-hidden="true" (click)="deleteTask(task._id)"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
      <button type="button" class="btn btn-circle btn-primary" (click)="loadmore()">Load More...</button>
  </div>
</div>
