<div *ngIf="showLoading"><p>Loading...</p></div>
<div *ngIf="!showLoading" class="m-1 mt-5">
  <div class="back" (click)="goBack()">
		<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
		<span> Go back</span>
	</div>
  <h1>Task Detail</h1>
  <!-- {{task | json}} -->
  <div class="card">
    <div class="card-header font-weight-bold">
      {{task.title}}
    </div>
    <div class="card-body">
      <h5 class="card-title"><b>Completed:</b> {{task.completed? "Yes":"no"}}</h5>
      <p class="card-text"><b>Description:</b> {{task.description}}</p>
    <button (click)="editTask(task._id)" class="btn btn-primary">Edit Task</button>
  </div>
</div>
  
  